/*!CK:2064090857!*//*1430738163,*/

.sp_oK-BvBi6_cD{background-image:url(/rsrc.php/v2/yo/r/kRP_J6vHhvJ.png);background-size:16px 78px;background-repeat:no-repeat;display:inline-block;height:14px;width:14px}.sp_oK-BvBi6_cD.sx_dc516b{background-position:0 0}.sp_oK-BvBi6_cD.sx_a6e3e3{background-position:0 -16px}.sp_oK-BvBi6_cD.sx_676397{background-position:0 -32px}.sp_oK-BvBi6_cD.sx_b27d54{background-position:0 -48px}.sp_oK-BvBi6_cD.sx_dfd701{width:12px;height:12px;background-position:0 -64px}

#bootloader_b8T_P { height: 42px; }
.bootloader_b8T_P { display:block !important; }