/*!CK:3976097636!*//*1433758800,*/

.sp_NFzY-fV1KQ8{background-image:url(/rsrc.php/v2/yo/r/D7XMef_d5sX.png);background-size:18px 96px;background-repeat:no-repeat;display:inline-block;height:12px;width:12px}.sp_NFzY-fV1KQ8.sx_fcf0c9{background-position:0 -18px}.sp_NFzY-fV1KQ8.sx_400bfd{background-position:0 -32px}.sp_NFzY-fV1KQ8.sx_d3baf4{width:16px;height:16px;background-position:0 0}.sp_NFzY-fV1KQ8.sx_1aa50b{width:10px;height:6px;background-position:0 -88px}.sp_NFzY-fV1KQ8.sx_a073d6{background-position:0 -46px}.sp_NFzY-fV1KQ8.sx_8d4146{background-position:0 -60px}.sp_NFzY-fV1KQ8.sx_703f48{background-position:0 -74px}

#bootloader_iX839 { height: 42px; }
.bootloader_iX839 { display:block !important; }