/*!CK:3265440326!*//*1429722146,*/

.sp_qCCnfWI1Vya{background-image:url(/rsrc.php/v2/yQ/r/YGcko5ZrNAs.png);background-size:36px 36px;background-repeat:no-repeat;display:inline-block;height:16px;width:18px}.sp_qCCnfWI1Vya.sx_21d67d{background-position:-18px 0}.selected .sp_qCCnfWI1Vya.sx_21d67d{background-position:0 0}.sp_qCCnfWI1Vya.sx_1ac2ba{width:16px;background-position:-16px -18px}.selected .sp_qCCnfWI1Vya.sx_1ac2ba{background-position:0 -18px}

#bootloader_b4SNT { height: 42px; }
.bootloader_b4SNT { display:block !important; }