/*!CK:2119080821!*//*1427755458,*/

.sp_ihMI2qoPJLU{background-image:url(/rsrc.php/v2/yp/r/DQ-fmtRo0rL.png);background-size:122px 122px;background-repeat:no-repeat;display:inline-block;height:70px;width:16px}.sp_ihMI2qoPJLU.sx_623b1f{width:120px;background-position:0 0}.sp_ihMI2qoPJLU.sx_5fdc27{height:12px;background-position:-18px -104px}.sp_ihMI2qoPJLU.sx_048c42{height:16px;background-position:0 -104px}.sp_ihMI2qoPJLU.sx_b949b8{width:22px;height:22px;background-position:-92px -72px}.sp_ihMI2qoPJLU.sx_cb9151{width:90px;height:30px;background-position:0 -72px}

#bootloader_zz1mW { height: 42px; }
.bootloader_zz1mW { display:block !important; }