/*!CK:2209792650!*//*1429722141,*/

.sp_H1tQLgA1khl{background-image:url(/rsrc.php/v2/yF/r/9M5PCdabjIY.png);background-size:34px 54px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_H1tQLgA1khl.sx_36f035{background-position:-16px 0}.selected .sp_H1tQLgA1khl.sx_36f035{background-position:0 0}.sp_H1tQLgA1khl.sx_fda3fe{background-position:-16px -18px}.selected .sp_H1tQLgA1khl.sx_fda3fe{background-position:0 -18px}.sp_H1tQLgA1khl.sx_2c8f55{background-position:-16px -36px}.selected .sp_H1tQLgA1khl.sx_2c8f55{background-position:0 -36px}

#bootloader_2cQCL { height: 42px; }
.bootloader_2cQCL { display:block !important; }