/*!CK:2931817057!*//*1431441668,*/

.sp_kLF_qWZQ2WB{background-image:url(/rsrc.php/v2/yI/r/a82VR-4jCag.png);background-size:26px 52px;background-repeat:no-repeat;display:inline-block;height:24px;width:24px}.sp_kLF_qWZQ2WB.sx_ecf2b8{background-position:0 0}.sp_kLF_qWZQ2WB.sx_ba2141{background-position:0 -26px}

#bootloader_VymAk { height: 42px; }
.bootloader_VymAk { display:block !important; }